<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid >
    <ion-row>
      <ion-col size="6">
        <ion-card class="categoryCard">
          <img src="https://media.4rgos.it/s/Argos/8261449_R_SET?w=270&h=270&qlt=75&fmt.jpeg.interlaced=true" alt="">
          <ion-card-content class="categoryCardContent">
            <ion-card-subtitle>Beds</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="categoryCard">
          <ion-card-content class="categoryCardContent">
            <ion-card-subtitle>producto 1</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
