ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.categoryCard,
.categoryCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.categoryCardContent{
  background-color: rgb(238, 238, 238);
}

.categoryCard img{
  pad: 1rem;
}

.categoryCardContent ion-button{
  height: 1.5rem;
  font-size: 0.8rem;
}